@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.container{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}
.title, .subtitle,.intro .text{
    text-align: center;
}
.card{
    background-color: white;
    padding: 13px;
    box-shadow: 1px 10px 20px -3px rgba(0,0,0,0.25);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.subtitle, .text{
    color: hsl(229, 6%, 66%);
}
.subtitle{
    font-weight: 200;
}
.intro{
    margin-bottom: 60px;
}
.image{
    display: flex;
    justify-content: end;
    margin: 10px 0;
}
.cyan{
    border-top: 3px solid hsl(180, 62%, 55%);
}
.red{
    border-top:3px solid hsl(0, 78%, 62%);
}
.orange{
    border-top:3px solid hsl(34, 97%, 64%);
}
.blue{
    border-top:3px solid hsl(212, 86%, 64%);
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
@media(min-width:1200px){
    .intro{
        width:50%;
    }
    .cards{
        display: flex;
        width: 95%;
        /* align-content: stretch; */
        justify-content: center;
        align-items: center;
        gap:30px;
    }
    .card{
        width: 320px;
        height: 225px;
        padding: 25px;
    }
    .cyan{
        width: 300px;
    }
    .blue{
        width: 300px;
    }
    .column{
        display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    }
    .image{
        margin-bottom: 5px;
    }
}
